/* general */
body { 
    background: url("../img/bg.png"); 
}

label { cursor: pointer; }

.fl-r { float: right; }
.fl-l { float: left; }

.mg-l6 { margin-left: -6px; }
.mg10 { margin: 10px; }

.templates { display: none; }
.template { display: none; }

.container {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px black;
}

/* logo */
@font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(fonts/font.woff) format('woff');
}

.logo {
    font-family: "Kaushan Script", cursive;
    color: white;
    text-shadow: 0 0 15px black;
    margin: 15px;
    font-size: 48px;
}

/* loading */
.loading {
    text-align: center;
    background: white;
    border: 2px solid rgb(0, 21, 131);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: none;
}

.loading img { width: 30px; }

/* chat box */
#avatar { margin-bottom: 10px; }
.btn { margin-right: 10px; }

.avatar {
    width: 80px;
    height: 80px;
    margin: 2px;
    padding;: 10px;
    border: 2px #aaa solid;
}

.messages {
    overflow: auto;
    height: 300px;
    margin: 10px 0;
    width: 885px;
}

.send-message-form input[type=text] { width: 100%; }

.c-span2 {
    width: 90px;
    margin: 0px;
    text-align: center;
}

/* expander */
.chat-section {
    padding: 10px;
    color: white;
}

/*
    +---------------+
    | Chat sections |
    +---------------+
*/

.section-body { display: none; }

/* red */
.chat-section-red {
    background: rgb(196, 0, 0);
    border: 3px solid darkred;
}

.chat-section-red .expander-title {
    color: white;
    text-shadow: 2px 2px 1px darkred;
    cursor: pointer;
}

/* orange */
.chat-section-orange {
    background: rgb(255, 163, 0);
    border: 3px solid rgb(173, 99, 30);
}

.chat-section-orange .expander-title {
    color: white;
    text-shadow: 2px 2px 1px rgb(173, 99, 30);
    cursor: pointer;
}

/* yellow */
.chat-section-yellow {
    background: rgb(255, 224, 0);
    border: 3px solid rgb(238, 162, 0);
}

.chat-section-yellow .expander-title {
    color: white;
    text-shadow: 2px 2px 1px rgb(238, 162, 0);
    cursor: pointer;
}

/* green */
.chat-section-green {
    background: rgb(32, 158, 0) ;
    border: 3px solid rgb(8, 95, 0);
}

.chat-section-green .expander-title {
    color: white;
    text-shadow: 2px 2px 1px rgb(8, 95, 0);
    cursor: pointer;
}

/* blue */
.chat-section-blue {
    background: rgb(0, 102, 182);
    border: 3px solid rgb(0, 45, 139);
}

.chat-section-blue .expander-title {
    color: white;
    text-shadow: 2px 2px 1px rgb(173, 99, 30);
    cursor: pointer;
}

/* indigo */
.chat-section-indigo {
    background: rgb(86, 0, 150);
    border: 3px solid rgb(59, 0, 102);
}

.chat-section-indigo .expander-title {
    color: white;
    text-shadow: 2px 2px 1px rgb(59, 0, 102);
    cursor: pointer;
}
